.header {
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;

  &__countries {
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
  }

  span {
    color: #fff;
  }
}
