.item {
  display: grid;
  gap: 10px;

  label {
    color: var(--main-color);
    font-weight: 700;
    font-size: 20px;
  }
}

.input {
  padding: 10px 20px;
  font-weight: 500;
  font-size: 14px;

  &::placeholder {
    font-weight: 500;
  }
}

.hide {
  display: none;
}
