.current-round {
  display: flex;
  justify-content: space-between;
  height: 100%;

  &__game {
    flex: 1;
    position: relative;
  }
}

.current-round-players-sidebar {
  width: 300px;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.current-round-info {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 6px;
  background: #000;
  color: #fff;
  height: 48px;
  justify-content: space-between;

  &__item {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-right: 1px solid #ccc;

    &:last-child {
      border: none;
    }
  }

  &__itemTitle {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    color: #5b5959;
  }

  &__titleInfo {
    font-size: 18px;
  }
}

.current-round-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 300px;
  background: #363636;
  z-index: 11;
  padding: 15px;

  &__controls {
    z-index: 10;
    position: fixed;
    top: 15px;
    left: 15px;
    display: flex;
    align-items: center;
  }

  &__btn {
    width: 100%;
    font-size: 12px;

    &_leave {
      color: red;
      border: 2px solid red;
      margin-bottom: 10px;
    }

    &_back {
      color: #fff;
      border: 2px solid #fff;
    }
  }
}
.current-round-sidebar-controls {
  &__item {
    cursor: pointer;
    margin-right: 20px;
    width: 30px;
    height: 30px;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;

    svg {
    }
  }
}

.current-round-controls {
  padding: 15px;

  &__btn {
    width: 100%;
  }
}
