.page {
  height: 100%;
  flex: 1;
  background: #303535;
  padding: 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.wrapper {
  padding: 15px;
  background: #00000065;
  flex: 1;
  border-radius: 6px;
}
