.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 900px;
  height: 700px;
  background: #2a2828;
  z-index: 11;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
